/* configs globais  */
* {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
  position: relative;
  padding: 0 8%;
}

h2 {
  font-size: 24pt;
}

section {
  padding: 40px 0;
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: auto;
  padding: 40px 0;
}

ul {
  list-style: none;
}

button {
  border-radius: 5px;
  border: none;
}

.row {
  display: flex;
  flex-direction: row;
}

/*fim das configs globais */

/* hero */
.hero {
  background-color: #263162;
  color: #fff;
}

/* Links de apps */
.app-links {
  background-color: #fff;
  color: #505061;
}

.app-links h2 {
  font-weight: 500;
  font-size: 20pt;
  width: 70%;
  margin: 10px 0;
}

.app-links h4 {
  font-style: italic;
  color: #adaeb3;
  font-weight: 500;
  font-size: 14pt;
}

.apps-button {
  display: flex;
  width: 100%;
}

/*FEATURES */

.features {
  background-color: #fff;
  color: #505061;
  border-bottom: 1px solid #eee;
}

.features h3 {
  font-weight: 700;
  font-size: 18pt;
  margin: 10px 0;
}

.features ul li {
  text-align: left;
  line-height: 1.7;
  position: relative;
  width: 30%;
  margin: 10px 1.5%;
}

.features .lead {
  font-size: 14pt;
  font-weight: 500;
  font-style: normal;
  margin: 0 0 20px 0;
}

/* DESIGN */

.design {
  background-color: #fff;
  color: #6b6b92;
  border-bottom: 1px solid #eee;
}

.design h2 {
  color: #505061;
  text-align: center;
  margin: 10px auto;
  font-size: 26pt;
}

.design h3 {
  text-align: center;
  color: #505061;
  font-size: 18pt;
  font-weight: 300;
  margin: 10px 10%;
}

.get-account {
  text-align: center;
  background-color: #fff;
  color: #505061;
}

.get-account h2 {
  font-size: 22pt;
  font-weight: 500;
  margin: 10px 0;
}

.get-account button {
  position: relative;
  color:white;
  font-size: 14pt;
  padding: 10px 16px;
  background-color: #9199cb;
  transition: ease-in-out 0.4s;
}

.get-account button:hover {
  cursor: pointer;
  background-color: #747171;
}

/*physical security */
.physical-security {
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
  background-image: url("../assets/images/security-bg.jpg");
  background-position: center;
}

#box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  height: 230px;
  margin: calc(30vh - 110px);
  background-color: #505061;
  color: #fff;
  line-height: 1.7;
  padding: 25px 40px;
}

#box h2 {
  font-size: 20pt;
  font-weight: normal;
  margin: 10px;
}

#box p {
  margin: 10px;
}

#box button {
  position: relative;
  width: auto;
}

