@media only screen and (max-width: 760px) {
  body {
    background: red;
  }

  .container {
    padding: 0 15px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  /* app links  */

  .app-button {
    width: 100%;
    height: auto;
    font-size: 14pt;
    color: #9199bc;
    background-color: transparent;
    border: 2px solid #9199bc;
    margin: 5px 0px;
    padding: 10px 0;
  }


  /* FEATURES */

  .features {
    width: 100%;
  }

  .features ul li {
    width: 97%;
    margin: 0 1.5%;
  }
}